body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  outline: 1px black solid;
}
.reload {
  position: fixed;
  left:25px;
  top: 25px;
}
.newText {
  position: fixed;
  left: 100px;
  top: 25px;
}
.newBackground {
  position: fixed;
  left: 190px;
  top: 25px;
}
